#imgLarge0{	background-image: url(../Images/teamPhoto/ferly.jpg); }
#imgLarge1{	background-image: url(../Images/teamPhoto/amanda.jpg); }
#imgLarge2{	background-image: url(../Images/teamPhoto/aidan.jpg); }
#imgLarge3{	background-image: url(../Images/teamPhoto/alex.jpg); }
#imgLarge4{	background-image: url(../Images/teamPhoto/allyson.jpg); }
#imgLarge5{	background-image: url(../Images/teamPhoto/claudia.jpg); }
#imgLarge6{	background-image: url(../Images/teamPhoto/daniel.jpg); }
#imgLarge7{	background-image: url(../Images/teamPhoto/dinesh.jpg); }
#imgLarge8{	background-image: url(../Images/teamPhoto/eric.jpg); }
#imgLarge9{	background-image: url(../Images/teamPhoto/erik.jpg); }
#imgLarge10{ background-image: url(../Images/teamPhoto/fozail.jpg); }
#imgLarge11{ background-image: url(../Images/teamPhoto/fred.jpg); }
#imgLarge12{ background-image: url(../Images/teamPhoto/jenny.jpg); }
#imgLarge13{ background-image: url(../Images/teamPhoto/kaitlin.jpg); }
#imgLarge14{ background-image: url(../Images/teamPhoto/paul.jpg); }
#imgLarge15{ background-image: url(../Images/teamPhoto/sally.jpg); }
#imgLarge16{ background-image: url(../Images/teamPhoto/vanessa.jpg); }
#imgLarge17{ background-image: url(../Images/teamPhoto/vincent.jpg); }
#imgLarge18{ background-image: url(../Images/teamPhoto/sankeralli.jpg); }

#teamId0{ background-image: url(../Images/teamPhoto/ferlyId.png); }
#teamId1{ background-image: url(../Images/teamPhoto/amandaId.png); }
#teamId2{ background-image: url(../Images/teamPhoto/aidanId.png); }
#teamId3{ background-image: url(../Images/teamPhoto/alexId.png); }
#teamId4{ background-image: url(../Images/teamPhoto/allysonId.png); }
#teamId5{ background-image: url(../Images/teamPhoto/claudiaId.png); }
#teamId6{ background-image: url(../Images/teamPhoto/danielId.png); }
#teamId7{ background-image: url(../Images/teamPhoto/dineshId.png); }
#teamId8{ background-image: url(../Images/teamPhoto/ericId.png); }
#teamId9{ background-image: url(../Images/teamPhoto/erikId.png); }
#teamId10{ background-image: url(../Images/teamPhoto/fozailId.png); }
#teamId11{ background-image: url(../Images/teamPhoto/fredId.png); }
#teamId12{ background-image: url(../Images/teamPhoto/jennyId.png); }
#teamId13{ background-image: url(../Images/teamPhoto/kaitlinId.png); }
#teamId14{ background-image: url(../Images/teamPhoto/paulId.png); }
#teamId15{ background-image: url(../Images/teamPhoto/sallyId.png); }
#teamId16{ background-image: url(../Images/teamPhoto/vanessaId.png); }
#teamId17{ background-image: url(../Images/teamPhoto/vincentId.png); }
#teamId18{ background-image: url(../Images/teamPhoto/sankeralliId.png); }