#imgLarge0{	background-image: url(../Images/teamPhoto/ferly.jpg); }
#imgLarge1{	background-image: url(../Images/teamPhoto/amanda.jpg); }
#imgLarge2{	background-image: url(../Images/teamPhoto/aidan.jpg); }
#imgLarge3{	background-image: url(../Images/teamPhoto/alex.jpg); }
#imgLarge4{	background-image: url(../Images/teamPhoto/allyson.jpg); }
#imgLarge5{	background-image: url(../Images/teamPhoto/claudia.jpg); }
#imgLarge6{	background-image: url(../Images/teamPhoto/daniel.jpg); }
#imgLarge7{	background-image: url(../Images/teamPhoto/dinesh.jpg); }
#imgLarge8{	background-image: url(../Images/teamPhoto/eric.jpg); }
#imgLarge9{	background-image: url(../Images/teamPhoto/erik.jpg); }
#imgLarge10{ background-image: url(../Images/teamPhoto/fozail.jpg); }
#imgLarge11{ background-image: url(../Images/teamPhoto/fred.jpg); }
#imgLarge12{ background-image: url(../Images/teamPhoto/jenny.jpg); }
#imgLarge13{ background-image: url(../Images/teamPhoto/kaitlin.jpg); }
#imgLarge14{ background-image: url(../Images/teamPhoto/paul.jpg); }
#imgLarge15{ background-image: url(../Images/teamPhoto/sally.jpg); }
#imgLarge16{ background-image: url(../Images/teamPhoto/vanessa.jpg); }
#imgLarge17{ background-image: url(../Images/teamPhoto/vincent.jpg); }
#imgLarge18{ background-image: url(../Images/teamPhoto/sankeralli.jpg); }

#img0{ background-image: url(../Images/teamPhoto/ferlyId.png); }
#img1{ background-image: url(../Images/teamPhoto/amandaId.png); }
#img2{ background-image: url(../Images/teamPhoto/aidanId.png); }
#img3{ background-image: url(../Images/teamPhoto/alexId.png); }
#img4{ background-image: url(../Images/teamPhoto/allysonId.png); }
#img5{ background-image: url(../Images/teamPhoto/claudiaId.png); }
#img6{ background-image: url(../Images/teamPhoto/danielId.png); }
#img7{ background-image: url(../Images/teamPhoto/dineshId.png); }
#img8{ background-image: url(../Images/teamPhoto/ericId.png); }
#img9{ background-image: url(../Images/teamPhoto/erikId.png); }
#img10{ background-image: url(../Images/teamPhoto/fozailId.png); }
#img11{ background-image: url(../Images/teamPhoto/fredId.png); }
#img12{ background-image: url(../Images/teamPhoto/jennyId.png); }
#img13{ background-image: url(../Images/teamPhoto/kaitlinId.png); }
#img14{ background-image: url(../Images/teamPhoto/paulId.png); }
#img15{ background-image: url(../Images/teamPhoto/sallyId.png); }
#img16{ background-image: url(../Images/teamPhoto/vanessaId.png); }
#img17{ background-image: url(../Images/teamPhoto/vincentId.png); }
#img18{ background-image: url(../Images/teamPhoto/sankeralliId.png); }